@model PagedList.IPagedList<KeyBoardStore.Models.BanPhim>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home || Bàn Phím Xanh";
    Layout = "../Home/_Layout.cshtml";
}
Sắp xếp theo ?
<div class="btn btn-default">
    @Html.ActionLink("Giá", "Home", new { sortProperty = "giaban", sortOrder = ViewBag.SortOrder })
</div>
<div class="btn btn-default">
    @Html.ActionLink("Tên", "Home", new { sortProperty = "tenphim", sortOrder = ViewBag.SortOrder })
    </div>
<div class="btn btn-default">
    @Html.ActionLink("Mã Phím", "Home", new { sortProperty = "maloai", sortOrder = ViewBag.SortOrder })
</div>
    <div class="title">
        <h1></h1>
    </div>
    <style>
    @*---------------------------*@
    * {
        /*box-sizing:border-box;*/
    }
    .container {
        width: 60%;

    }
    .overlay {
        display:flex;
        position: absolute;
        bottom: 50px;
        background: rgba(0, 0, 0, 0.5); /* tạo bóng  */
        color: #f1f1f1;
        transition: .2s ease-in-out;
        opacity: 0;
        color: white;
        padding: 6px;
        margin: 1px;

        /*top:0px;*/
    }

    .container:hover .overlay {
        opacity: 1;
    }
    @*---------------------------*@
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: red; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
    }
        #myBtn:hover {
            background-color: #555; /* Add a dark-grey background on hover */
        }
        @*---------------------------*@
    body {
        background-color: white;
    }
    .image {
        transition: .5s all;
    }
    .title {
        color: black;
        text-align: center;
    }
    .image:hover {
        cursor:default;
        transform: scale(1.1);

        z-index: 400;
    }
    @*---------------------------*@
    .panel {
        color: blue;
        text-align: center;
    }
        .panel-default {
        background-color: black;
    }

    .panel-heading {
        background-color: aquamarine;
        color: white;
    }

    .panel-footer {
        background-color: aliceblue;
    }

    .panel-body {
        background-color: white;
    }

    .btn-success {
        text-align: center;
    }

    .btn {
        text-align: center;
    }

    .giaban {
        color: red;
    }
    @*---------------------------*@
    .MenuTrang li {
        display: inline;
    }
    .show-read-more .more-text {
        display: block;
    }
    </style>
    <style type="text/css">
        #mau-nut a {
            clear: both;
            background-color: orange;
            color: snow;
        }

            #mau-nut a:hover {
                background-color: blue;
                color: snow;
            }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var maxLength = 100;
            $(".show-read-more").each(function () {
                var myStr = $(this).text();
                if ($.trim(myStr).length > maxLength) {
                    var newStr = myStr.substring(0, maxLength);
                    var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                    $(this).empty().html(newStr);

                    $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a>');

                    $(this).append('<span class="more-text">' + removedStr +
                        '</span>');
                }
            });
            $(".read-more").click(function () {
                $(this).siblings(".more-text").contents().unwrap();
                $(this).remove();
            });
        });
    </script>
    <!--Style-->
    @using (Html.BeginForm("Home", "Home", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="pull-center">
            <div class="form-group form-inline" style="display: flex;">
                <input type="Text" class="form-control col-md-10" value="@ViewBag.Keyword"
                       name="searchString" placeholder="Nhập tên phím cần tìm">
                <input type="submit" class="btn btn-info" value="Tìm" style="margin-left:10px;">
            </div>
        </div>
        <br>
    }
    <div class="table">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        <h3>@item.tenphim</h3>
                    </div>
                    <div class="panel-body">
                        <label> Hãng: @item.Hang</label>
                        <div class="giaban">
                            @*<p>Giá: @item.giaban VNĐ</p>*@
                            Giá: @string.Format("{0:0,000}", item.giaban) VNĐ
                        </div>
                        <p><strong>Ngày:</strong>@item.ngaycapnhat</p>
                        <p><strong>Hàng còn:</strong>@item.soluongton</p>
                        <div class=" image">
                            @*<p><img src="@item.hinh" width="200" height="200" alt=" hinh thumbnail" /></p>*@
                            <a href="@Url.Action("Detail", "Home",new {id=item.maphim})"><img src="@item.hinh" width="200"> </a>
                        </div>
                    </div>
                    <div class="panel-default">
                        <div class="overlay">
                            <h4>
                                @Html.ActionLink("Xem Chi Tiết ", "Detail", "Home", new { id = item.maphim }, new { @class = "label" })
                            </h4>
                            <span style="padding-left:130px">
                                @*<div class="pull-end">*@
                                    <a class="btn btn-success btn-lg pull-end" href="@Url.Action("ThemGioHang", "GioHang", new { @id = item.maphim, @strURL = Request.Url.ToString() })">Đặt mua</a>
                                @*</div>*@
                            </span>
                            @*  @Html.ActionLink("Chi Tiết..", "Detail", new { id = item.maphim }, new { @class = "btn btn-default" })*@

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <body>
        <button onclick="topFunction()" id="myBtn" title="Go to top">↑</button>
    </body>
    <div>
        <div>
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
            @Model.PageCount
        </div>
        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("Home", new { page = page }))
        </div>
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
    <style type="text/css">
        #mau-nut a {
            clear: both;
            background-color: orange;
            color: snow;
        }

            #mau-nut a:hover {
                background-color: darkcyan;
                color: snow;
            }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var maxLength = 100;
            $(".show-read-more").each(function () {
                var myStr = $(this).text();
                if ($.trim(myStr).length > maxLength) {
                    var newStr = myStr.substring(0, maxLength);
                    var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                    $(this).empty().html(newStr);

                    $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a>');

                    $(this).append('<span class="more-text">' + removedStr +
                        '</span>');
                }
            });
            $(".read-more").click(function () {
                $(this).siblings(".more-text").contents().unwrap();
                $(this).remove();
            });
        });
    </script>
    <script>
        // Get the button
        let mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <style>
        .show-read-more .more-text {
            display: block;
        }
    </style>

