@model IEnumerable<KeyBoardStore.Models.GioHang>
@{
    ViewBag.Title = "DatHang";
    Layout = "../Home/_Layout.cshtml";
}

<h2>Đặt Hàng</h2>
<table class="table">
    <tr>
        @*<th>@Html.DisplayNameFor(model => model.maphim)</th>*@
        <th>@Html.DisplayNameFor(model => model.tenphim)</th>
        <th>@Html.DisplayNameFor(model => model.hinh)</th>
        <th>@Html.DisplayNameFor(model => model.giaban)</th>
        <th>@Html.DisplayNameFor(model => model.isoluong)</th>
        <th>@Html.DisplayNameFor(model => model.dThanhtien)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.tenphim)</td>
            <td> <img src="@item.hinh" width="180" /> </td>
            @using (Html.BeginForm("CapnhatGiohang", "GioHang", new { @id = item.maphim }))
            {
                <td> @string.Format("{0:0,0}", item.giaban) @*VNĐ*@ </td>
                <td>
                    <input type="number" min="1" name="txtSoLg" value="@item.isoluong" />
                </td>
                <td> @Html.DisplayFor(modelItem => item.dThanhtien)</td>
                <td>
                    <a href="@Url.Action("Detail", "Home",new {id=item.maphim})">Chi Tiết</a> | @Html.ActionLink("Xóa", "XoaGioHang", new { @id = item.maphim })
                </td>
                <td>
                    <input type="submit" value="Cập nhật" class="btn btn-success">
                </td>
            }
        </tr>
    }
    <tr style="font-weight:bold; text-align:left; color:red">
        <td colspan="2"> số loại: @ViewBag.Tongsoluongsanpham</td>
        <td colspan="2"> Số lượng: @ViewBag.Tongsoluong</td>
        <td colspan="4">
            Tổng Tiền: @String.Format("{0:0,0}", @ViewBag.Tongtien) VNĐ
        </td>
    </tr>
    <tr style="font-weight:bold; color:blue;text-align:right">
        <td colspan="5">
            @Html.ActionLink("Xóa Giỏ Hàng", "XoaTatCaGioHang")
        </td>
    </tr>
    <tr style="font-weight:bold; color:yellow; text-align:right">
        <td colspan="5">
            @Html.ActionLink("Đặt Hàng", "Dathang", "GioHang")
        </td>
    </tr>
</table>
<h2 style="text-align:center"> Thông Tin Đặt Hàng </h2>
@{
    KeyBoardStore.Models.KhachHang kh = (KeyBoardStore.Models.KhachHang)Session["TaiKhoan"];
}
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td> Họ Tên Khách Hàng: </td>
            <td style="font-weight:bold">@kh.hoten</td>
        </tr>
        <tr style="height:40px">
            <td> Email: </td>
            <td style="font-weight:bold">@kh.email</td>
        </tr>
        <tr style="height:40px">
            <td> Địa chỉ: </td>
            <td style="font-weight:bold">@kh.diachi</td>
        </tr>
        <tr style="height:40px">
            <td> Điện Thoại: </td>
            <td style="font-weight:bold">@kh.dienthoai</td>
        </tr>
        <tr style="height:40px">
            <td> Ngày Đặt: </td>
            <td style="font-weight:bold">@DateTime.Now.ToShortDateString()</td>
        </tr>
        @*<tr style="height:40px">
            <td> Ngày giao: </td>
            <td style="font-weight:bold">
                <input type="datetime-local" name="NgayGiao" />
            </td>
        </tr>*@
        <tr style="height:40px">
            <td> </td>
            <td style="font-weight:bold">
                <input type="submit" value="Thanh Toán" class="btn btn-success" />
            </td>
        </tr>
    }
</table>
